doctype
html(lang="en")
  head

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    title="I want to join Intercom — Marek Dlugos"
    meta(name="description" content="Marek Dlugos, 21yo student and starting Product Designer wants to join Intercom Product Design team.")
    meta(name="keywords" content="intercom, marek, dlugos, internship, product design")
    
    meta(name="author" content="Marek Dlugos")
    meta(name="copyright" content="© 2017, Marek Dlugos. All rights reserved.")
    meta(name="robots" content="index, follow, noodp")
    
    meta(name="googlebot" content="index,follow")
    meta(name="theme-color" content="#1F8CEB")
    
    link(rel="me" href="https://www.facebook.com/marek.dlugos" type="text/html")
    
    //TODO: pridat favicon
    link(href="/images/favicon.png" rel="icon" type="image/png")
    link(rel="stylesheet" href="bootstrap.min.css")
    link(rel="stylesheet" href="main.css")

    meta(property="og:type" content="website")
    meta(property="og:url" content="http://iwannajoininter.com/")
    meta(property="og:title" content="I want to join Intercom!")
    
    // TODO: pridat obrazok
    meta(property="og:image" content="")
    meta(property="og:description" content="I want to join Intercom Product Design team as an intern for 4 months.")
    meta(property="og:site_name" content="I want to join Intercom!")
    meta(property="og:locale" content="en_US")
    
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@marekdlugos")
    meta(name="twitter:creator" content="@marekdlugos")
    meta(name="twitter:url" content="http://iwannajoininter.com/")
    meta(name="twitter:title" content="I want to join Intercom!")
    meta(name="twitter:description" content="I want to join Intercom Product Design team as an intern for 4 months.")
    
    // TODO: pridat obrazok
    meta(name="twitter:image" content="http://www.mareks.space/images/og-image.jpg")
    
    script(src="https://use.typekit.net/cpx3lyo.js")
    script try{Typekit.load({ async: true });}catch(e){}
    
    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      | 
      | ga('create', 'UA-99056971-1', 'auto');
      | ga('send', 'pageview');
    
  body
    div(id="fb-root")
    script 
      | (function(d, s, id) {
      | var js, fjs = d.getElementsByTagName(s)[0];
      | if (d.getElementById(id)) return;
      | js = d.createElement(s); js.id = id;
      | js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=716963915076358";
      | fjs.parentNode.insertBefore(js, fjs);
      | }(document, 'script', 'facebook-jssdk'));
    #wrapper
      != yield
