header
  .container
    .row
      .col-sm-3
        a(href="index.html")
          img(src="images/intercom-marek.svg", alt="Intercom + Marek Dlugos")
      .col-sm-3.col-sm-offset-6.hidden-xs
        a(href="mailto:marek@hostmeinca.com").button Get in touch with me
        
section#introduction
  .container
    .row
      .col-md-5
        h1 Hey #[span Intercom]. #[br] My name is Marek. #[br] I want to join your team.
      .col-md-7
        img(src="images/marekdlugos.jpg", alt="Marek Dlugos", class="img-responsive")
        
section#whatiwant
  .container
    .row
      .col-md-8.col-md-offset-2
        h2 I want to join your #[strong Product Design] team as an #[strong intern]. I can jump on the plane to Dublin on #[strong 10th of June] and help you #[strong for 4 months].
        p I graduade in May 2018 so if you will like my work I would be more than happy to join fulltime!
        
section#video
  .container
    .row
      .col-md-4
        h2 Got #[strong 55 seconds to spare] to watch the video I’ve made for you?
        p This video was made for #[a(href="http://emmetconnolly.com/") Emmet], Director of Product Design.
        p.hidden-sm.hidden-xs I am also passionate about making videos. Watch my show #[a(href="https://www.youtube.com/playlist?list=PLfAn5S6hUak9NqYmSIPIhspARcNvrllpq") Questions w/ Shopify Interns].
      .col-md-7.col-md-offset-1
        div.embed-responsive.embed-responsive-16by9
          iframe(src="https://www.youtube.com/embed/E3Dn0W4WUlk" allowfullscreen)
      
section#coolthings
  .container
    hr
    h2 #[span Cool things] I've done.
    .row
      .col-md-4.col-sm-6
        .box.text
          img(src="images/shopify.svg", alt="Shopify" class="img-responsive")
          h3 Last summer I interned at Shopify.
        .box.text
          img(src="images/yc.svg", alt="Y Combinator Hacker News" class="img-responsive")
          h3 My site was featured on YC Hacker News twice.
        .box.text.hidden-xs
          img(src="images/100.svg", alt="Over 100" class="img-responsive")
          h3 I've completed 100+ commercial projects for global clientele.
      .col-md-4.padding-top.col-sm-6
        .box.photo
          img(src="images/dribbble-meetup.jpg", alt="Dribbble Meetup" class="img-responsive")
          .smaller-padding
            h3 I’ve organized two Dribbble meetups.
            p One in Prague and another in Ottawa with over 300 attendees altogether.
        .box.no-shadow.vivienne
          h3 “Marek is a highly motivated individual with a diverse skill set.”
          p Vivienne Kay, Designer at Shopify
      .col-md-4.hidden-sm
        .box.text.hidden-xs
          img(src="images/se.svg", alt="Software Engineering" class="img-responsive")
          h3 I'm pursuing bachelor degree in Software Engineering.
          p I believe, I will have a great empathy for your users, designers as well as engineers.
        .box.text
          img(src="images/creativemarket.svg", alt="CreativeMarket" class="img-responsive")
          h3 I have worked with the founder of Creative Market.
        .box.text.hidden-xs
          h3.no-padding I’ve traveled round the world in my 20’s.
          p Well, I’m still only 21yo but I’ve already seen 22 countries!
    hr
section#portfolio
  .container
    .row
      .col-md-4.col-sm-12.col-xs-12
        h2 Let my work speak out on my behalf.
        p 
          small Since some of the stuff I have worked on has not been published yet, I will be happy to share it with you privately via e-mail.
      .col-md-2.col-md-offset-2.link.col-sm-4.col-xs-6
        a(href="https://dribbble.com/marekdlugos", target="_blank")
          img(src="images/dribbble.svg", alt="Dribbble", class="img-responsive")
          span Visuals on my
          strong Dribbble
      .col-md-2.link.col-sm-4.col-xs-6
        a(href="resources/marek-dlugos-designer.pdf" target="_blank")
          img(src="images/resume.svg", alt="Resume", class="img-responsive")
          span Summary in my
          strong Resume
      .col-md-2.link.col-sm-4.hidden-xs
        a(href="mailto:marek@hostmeinca.com?subject=Portfolio Request" target="_blank")
          img(src="images/process.svg", alt="Process", class="img-responsive")
          span Thoughts on my
          strong Process
section#lists
  .container
    .row
      .col-md-6.white
        h2 Why I want to intern
        ul
          li I’m not a superhero or an unicorn. But I learn fast and I want to become a better Product Designer.
          li I love your company culture and the way you communicate with outside world (books, podcast…).
          li In the future I would like to make a transition to Product Management. Where can I learn how to be a good PM than in the place where product management evolved?
          li We share the same values.
      .col-md-6.dark
        h2 I can benefit your team by
        ul
          li Working on ideas that have high priority and need more resources.
          li Bringing a fresh pair of eyes. See the things from different point of view.
          li Bringing more code talent into a team.
          li And finally - introducing you to Slovak culture. For instance, do you know how to pronounce “čučoriedky”?
section#cta
  .container
    .row
      .col-md-6.col-md-offset-3
        h2 Let me know if I can start packing my things!
        h2 Fire up our chat by hitting the button in the #[span bottom right corner]!
        a(href="mailto:marek@hostmeinca.com").button Or send me a good ol' email
footer
  .container
    hr
    .row
      .col-md-4
        p &copy; 2017 by Marek Dlugos. All rights reserved.
        div 
          a(href="https://twitter.com/share" class="twitter-share-button" data-text="Can this website help @marekdlugos to get a job at @Intercom? Check out " data-url="http://iwannajoininter.com/" data-related="marekdlugos,intercom" data-show-count="false") Tweet
          script(async src="//platform.twitter.com/widgets.js" charset="utf-8")
          div(class="fb-like" data-href="http://iwannajoininter.com/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true")
      .col-md-3.col-md-offset-1
        p I didn’t know how to tell you that I want to join your team so I have crafted this website. Oh, and btw. I’m from beautiful small country called Slovakia so there is no need to issue visa for me.
      .col-md-3.col-md-offset-1
        p I made this site in one week, intestead of studying for my final exams and partying with friends. Hope you will like it.
